.management-container {
  background-color: rgba(241, 242, 245, 1);
  height: 100vh;
  width: 100%;
  padding: 60px 30px;
  &__content {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.members-header {
  width: 100%;
  padding: 20px 45px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    margin: 0;
  }
}

.header-buttons {
  display: flex;
  & > * {
    margin-left: 10px;
  }
}