.button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  padding: 0 15px;
  min-width: 135px;
  &--text {
    border: none;
    background-color: transparent;
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid #797979;
  }

  &--contained {
    background-color: #169bd5;
    color: #ffffff;
    border: none;
  }
}