.table-row {
  padding: 15px 45px;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
  display: flex;
  select {
    width: 70%;
  }
}

.delete-member-btn {
  background-color: transparent;
  border: none;
  justify-self: flex-end;
  outline: none;
  margin-left: auto;
  &:active {
    opacity: 0.7;
  }
}