.add-member {
  &__container {
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 51, 51, 0.25);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
  }
  &__form {
    width: 100%;
    max-width: 850px;
    background-color: #ffffff;
    padding: 20px 0;
    min-height: 450px;
    display: flex;
    flex-direction: column;
  }
}

.form {
  &__header {
    padding: 0px 20px;
    font-size: 18px;
  }
  &__content {
    display: flex;
    padding: 20px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      left: 50%;
      top: 0;
      width: 1px;
      background-color: rgb(153, 153, 153);
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    margin-top: auto;
  }
  .input-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    label {
      margin-bottom: 3px;
      span {
        color: red;
      }
    }
    input {
      width: 100%;
      height: 30px;
    }
  }

  .content {
    flex: 1;
    padding: 0 10px;
  }
}

.subtext {
  font-size: 12px;
  color: #AAAAAA;
}